<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Pembayaran</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .keterangan{
                width: 100px;
                display: inline-block;
            }
            .titikdua{
                width: 10px;
                display: inline-block;
            }
            .data{
                font-weight: normal;
                display: inline-block;
            }
        </style>
    </head>
    <body>
        <h1>Silahkan Melakukan Pembayaran</h1>
        <p>Pastikan data yang telah <b>BENAR<b/></p>
        <hr/>
        <p><b>NOTA</b></p>
        <div class="keterangan">
            <p>Nama Barang</p>
            <p>Jumlah</p>
            <p>Harga</p>
            <p>Diskon</p>
            <p>Total Harga</p>
        </div>
        <div class="titikdua">
            <p>:</p>
            <p>:</p>
            <p>:</p>
            <p>:</p>
            <p>:</p>
        </div>
        <div class="data">
            <p th:text="${getnamabarang}"/>
            <p th:text="${getjumlah}"/>
            <p th:text="${getharga}"/>
            <p th:text="${getdiskon}"/>
            <p th:text="${gettotalharga}"/>
        </div>
    </body>
</html>
